<div class="filtering">
  <div class="modal-head">
    <div class="left">Términos y Condiciones</div>
  </div>
   <div class="custom-modal-body">
      <h1>Punto 1</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe et a eius, suscipit necessitatibus eos eligendi earum, reprehenderit culpa explicabo ea nemo quos totam molestias aperiam corrupti rem ipsa quae.</p>
      <h1>Punto 2</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis omnis assumenda quod atque quisquam eos voluptates dolorem, voluptas cumque odio, sit et illo hic architecto accusamus nulla dolore ipsum suscipit.</p>
    </div>
    <div>
      <button type="submit" class="save-btn cta cta-primary cta-text" (click)="closingModal()">Aceptar</button>
    </div>
</div>
