<div class="filtering">
  <div class="modal-head">
    <div class="right button" (click)="closingModal()">
      <img src="../../../../assets/icons/closeX.png" alt="cerrar modal">
    </div>
    <div class="left">Cuenta</div>
  </div>
  <form action="" [formGroup]="form" (ngSubmit)="save()">
   <div class="custom-modal-body">
      <div class="input-form input-text input-container">
        <label>
          <span class="eyebrow-input">Contraseña</span>
          <input name="password" type="password" placeholder="Ingresá la contraseña" formControlName="password" required>
        </label>
        <span *ngIf="form.get('password').invalid && form.get('password').dirty" class="error-text text-2">Por favor ingresa la contraseña</span>
      </div>
      <div class="input-form input-text input-container">
        <label>
          <span class="eyebrow-input">Nueva Contraseña</span>
          <input name="password" type="password" placeholder="Ingresá la contraseña" formControlName="newpassword" required>
        </label>
        <span *ngIf="form.get('newpassword').invalid && form.get('newpassword').dirty" class="error-text text-2">Por favor ingresa la nueva contraseña</span>
      </div>
      <div class="input-form input-text input-container">
        <label>
          <span class="eyebrow-input">Repetir Nueva Contraseña</span>
          <input name="password" type="password" placeholder="Ingresá la contraseña" formControlName="repetePassword" required>
        </label>
        <span *ngIf="form.get('repetePassword').invalid && form.get('repetePassword').dirty" class="error-text text-2">La contraseñas no coinciden</span>
      </div>
    </div>
    <div>
      <button type="submit" class="save-btn cta cta-primary cta-text" [disabled]="form.invalid">guardar</button>
    </div>
  </form>
</div>
