<div class="notification-container"
  [@openClose]="errorService.isNotificationActive ? 'open' : 'closed'"
  (@openClose.start)="onAnimationEvent($event)"
  (@openClose.done)="onAnimationEvent($event)">
  <div [ngClass]="getClasses()">
    <svg class="info-icon" *ngIf="errorService.notificationType === 'success'" width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.75 33.25V33.25C8.05075 33.25 1 26.1993 1 17.5V17.5C1 8.80075 8.05075 1.75 16.75 1.75V1.75C25.4493 1.75 32.5 8.80075 32.5 17.5V17.5C32.5 26.1993 25.4493 33.25 16.75 33.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M23.75 14L15 22.75L9.75 17.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg class="info-icon" *ngIf="errorService.notificationType === 'error' || errorService.notificationType === 'login-error'" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 1.75V1.75C26.1993 1.75 33.25 8.80075 33.25 17.5V17.5C33.25 26.1993 26.1993 33.25 17.5 33.25V33.25C8.80075 33.25 1.75 26.1993 1.75 17.5V17.5C1.75 8.80075 8.80075 1.75 17.5 1.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.5 18.375V9.625" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.4983 24.5C17.2568 24.5 17.0608 24.696 17.0625 24.9375C17.0625 25.179 17.2585 25.375 17.5 25.375C17.7415 25.375 17.9375 25.179 17.9375 24.9375C17.9375 24.696 17.7415 24.5 17.4983 24.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span class="text-1">{{errorService.notificationMsg}}</span>
    <button class="close-icon" (click)="errorService.closeNotification()">
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 6.36621L18.7742 19.1404" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 19.1404L18.7742 6.36619" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
</div>
