/* Custom */
/* ==========================================================================
   Color
   ========================================================================== */
/* BRAND */
/* ELEMENTS UI */
/* TEXT/ICONS */
/* ERROR MESSAGES */
/* ILLUSTRATIONS/OTHERS */
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: spacegroteskLight;
  src: url(/assets/fonts/SpaceGrotesk-Light.ttf) format("truetype");
  font-weight: light;
}
@font-face {
  font-family: spacegrotesk;
  src: url(/assets/fonts/SpaceGrotesk-Regular.ttf) format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: spacegroteskMedium;
  src: url(/assets/fonts/SpaceGrotesk-Medium.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: spacegroteskBold;
  src: url(/assets/fonts/SpaceGrotesk-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: spacegroteskSemibold;
  src: url(/assets/fonts/SpaceGrotesk-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: robotoregular;
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: robotomedium;
  src: url(/assets/fonts/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: robotobold;
  src: url(/assets/fonts/Roboto-Bold.ttf) format("truetype");
}
/* Headline */
.headline-0 {
  font-family: spacegroteskLight, sans-serif;
  font-size: 157px;
  line-height: 160px;
  letter-spacing: 0px;
}

.headline-1 {
  font-family: spacegroteskLight, sans-serif;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0px;
}
@media (min-width: 992px) {
  .headline-1--d {
    font-size: 85px;
    list-style: 100px;
    letter-spacing: -0.01em;
  }
}

.headline-2 {
  font-family: spacegroteskMedium, sans-serif;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.02em;
}
@media (min-width: 992px) {
  .headline-2--d {
    font-size: 70px;
    list-style: 90px;
    letter-spacing: -0.01em;
  }
}

.headline-3 {
  font-family: spacegroteskBold, sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.01em;
}
@media (min-width: 992px) {
  .headline-3--d {
    font-size: 50px;
    list-style: 100%;
    letter-spacing: -0.01em;
  }
}

.headline-3b {
  font-family: robotobold, sans-serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

/* Body */
.body-1 {
  font-family: robotobold, sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}
@media (min-width: 992px) {
  .body-1--d {
    font-size: 35px;
    list-style: 130%;
    letter-spacing: -0.01em;
  }
}

.body-1b {
  font-family: robotoregular, sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}

/* Text */
.text-1 {
  font-family: robotoregular, sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
@media (min-width: 992px) {
  .text-1--d {
    font-size: 25px;
    list-style: 135px;
    letter-spacing: 0.01em;
  }
}

.text-2 {
  font-family: robotoregular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
@media (min-width: 992px) {
  .text-2--d {
    font-size: 20px;
    list-style: 135px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 992px) {
  .text-3--d {
    font-size: 18px;
    list-style: 135px;
    letter-spacing: 0.01em;
  }
}

/* CTA */
.cta-text {
  font-family: robotomedium, sans-serif;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.07em;
}
@media (min-width: 992px) {
  .cta-text--d {
    font-size: 20px;
    list-style: 35px;
    letter-spacing: 0.07em;
  }
}

/* Text Link */
.textlink-1 {
  font-family: robotoregular, sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
}

.textlink-2 {
  font-family: robotomedium, sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

/* Eyebrow */
.eyebrow {
  font-family: robotomedium, sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

.eyebrow-input {
  font-family: robotoregular, sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.105em;
}

.eyebrow-homepage {
  font-family: robotoregular, sans-serif;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

/* ==========================================================================
   UI/COMPONENTS STYLES
   ========================================================================== */
/* Mixins */
/* Custom breakpoints */
/**
 * Shadows
 */
.d-shadow {
  box-shadow: 0 2px 0.3 0 rgba(82, 77, 193, 0.25), 0 3px 0.15 0 rgba(82, 77, 193, 0.19);
}
@media (min-width: 992px) {
  .d-shadow {
    box-shadow: 0 3px 0.15 0 rgba(82, 77, 193, 0.3), 0 3px 0.15 0 rgba(82, 77, 193, 0.19);
  }
}

/**
 * Cards ratios/Border radius
 */
.b-r-15-5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 15px;
}

.b-r-20-5 {
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 20px;
}

.b-r-10 {
  border-radius: 10px;
}

.b-r-15 {
  border-radius: 15px;
}

.b-r-top-30 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* Basic Comment */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  mix-blend-mode: multiply;
  z-index: 1;
}

.simulated-table {
  position: relative;
}
.simulated-table .table-container {
  margin: 0;
}
.simulated-table .table-container .table-head {
  display: flex;
}
.simulated-table .table-container .table-head span.col,
.simulated-table .table-container .table-body span.col {
  font-family: robotomedium;
  font-size: 12px;
  line-height: 17px;
  color: #1f038f;
  display: inline-block;
  max-width: 130px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.simulated-table .table-container .table-head span.col:first-child,
.simulated-table .table-container .table-body span.col:first-child {
  text-align: left;
  min-width: 175px;
  max-width: 175px;
}
.simulated-table .table-container .table-head span.col.no-display,
.simulated-table .table-container .table-body span.col.no-display {
  display: none;
}
.simulated-table .table-container .table-head .desktop-bring-actions,
.simulated-table .table-container .table-body .desktop-bring-actions {
  display: none;
}
.simulated-table .table-container .table-head {
  padding-bottom: 25px;
}
.simulated-table .table-container .table-body p {
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
}
.simulated-table .table-container .table-body p span.col {
  font-family: robotoregular;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.simulated-table .table-container .table-body p span.col:first-child {
  border-right: 1px solid #d9d9d9;
}
.simulated-table .table-container .table-body p span.col a {
  text-decoration: unset;
  text-transform: uppercase;
}
.simulated-table .table-container .table-body p:last-child {
  border-bottom: unset;
}
.simulated-table .table-container .table-body p button.desktop-bring-actions {
  display: none;
}
.simulated-table .table-container .table-body p app-table-action-modal {
  display: none;
}
.simulated-table .table-container .table-body p.active {
  box-shadow: 0px 2px 3px rgba(82, 77, 193, 0.25), 0px 3px 15px rgba(82, 77, 193, 0.19);
  background: #f4f3ff;
}
.simulated-table .table-container .table-body p.active app-table-action-modal {
  display: block;
  position: absolute;
  left: 20px;
  top: 54px;
  z-index: 9;
}
@media screen and (min-width: 992px) {
  .simulated-table .table-container .table-body p.active app-table-action-modal {
    left: unset;
    top: 0px;
    z-index: 9;
    right: 45px;
  }
}
.simulated-table .table-container .table-body p:first-child span.col {
  padding-top: 0;
}
.simulated-table .table-container .table-arrows {
  width: calc(100% - 180px);
  position: absolute;
  left: 178px;
  height: 30px;
  top: -6px;
}
.simulated-table .table-container .table-arrows button:first-child {
  float: left;
  padding-right: 20px;
}
.simulated-table .table-container .table-arrows button:last-child {
  float: right;
  padding-left: 20px;
}
.simulated-table .table-container .table-arrows button.disabled-arrow svg path {
  stroke: #d9d9d9;
}
.simulated-table.no-display-table {
  display: none;
}

@media screen and (min-width: 992px) {
  .simulated-table {
    position: relative;
  }
  .simulated-table .table-container .table-arrows {
    display: none;
  }
  .simulated-table .table-container .table-head span.col,
  .simulated-table .table-container .table-body p span.col {
    text-align: left;
    display: block;
  }
  .simulated-table .table-container .table-head span.col.no-display,
  .simulated-table .table-container .table-body p span.col.no-display {
    display: block;
  }
  .simulated-table .table-container .table-head span.col:first-child,
  .simulated-table .table-container .table-body p span.col:first-child {
    border: unset;
  }
  .simulated-table .table-container .table-head span.width60,
  .simulated-table .table-container .table-body p span.width60 {
    min-width: 60px;
    max-width: 60px;
  }
  .simulated-table .table-container .table-head span.width80,
  .simulated-table .table-container .table-body p span.width80 {
    min-width: 80px;
    max-width: 80px;
  }
  .simulated-table .table-container .table-head span.width170,
  .simulated-table .table-container .table-body p span.width170 {
    min-width: 170px;
    max-width: 170px;
  }
  .simulated-table .table-container .table-head {
    display: flex;
    padding-bottom: 25px;
  }
  .simulated-table .table-container .table-head .desktop-bring-actions {
    display: inline;
  }
  .simulated-table .table-container .table-body p {
    display: flex;
  }
  .simulated-table .table-container .table-body.more-than-seven-body {
    height: 390px;
    overflow-y: scroll;
    padding-bottom: 60px;
    padding-right: 60px;
    margin-right: -60px;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .simulated-table .table-container .table-body.more-than-seven-body::-webkit-scrollbar {
    width: 5px;
  }
  .simulated-table .table-container .table-body.more-than-seven-body::-webkit-scrollbar-track {
    background: #F4F3FF;
  }
  .simulated-table .table-container .table-body.more-than-seven-body::-webkit-scrollbar-thumb {
    background: #DBDAFF;
    border-radius: 10px;
  }
  .simulated-table .table-container .table-body.more-than-seven-body::-webkit-scrollbar-thumb:hover {
    background: #cdccef;
  }
  .simulated-table .table-container .table-body.more-than-seven-body::-webkit-scrollbar {
    width: 10px;
  }
  .simulated-table .table-container.more-than-seven:after {
    content: "";
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -63.7%, #ffffff 69.22%);
    pointer-events: none;
  }
}
@media screen and (min-width: 992px) {
  .simulated-table .table-container .table-body p button {
    outline: none;
    background: none;
    border: unset;
  }
  .simulated-table .table-container .table-body p button.desktop-bring-actions {
    display: inline;
  }
  .simulated-table .table-container .table-head,
  .simulated-table .table-container .table-body p {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  h2 {
    font-family: spacegroteskSemibold;
    font-size: 50px;
    line-height: 50px;
  }
}
/* ==========================================================================
   UI/COMPONENTS STYLES
   ========================================================================== */
/* Mixins */
/* Custom breakpoints */
/**
 * Shadows
 */
.d-shadow {
  box-shadow: 0 2px 0.3 0 rgba(82, 77, 193, 0.25), 0 3px 0.15 0 rgba(82, 77, 193, 0.19);
}
@media (min-width: 992px) {
  .d-shadow {
    box-shadow: 0 3px 0.15 0 rgba(82, 77, 193, 0.3), 0 3px 0.15 0 rgba(82, 77, 193, 0.19);
  }
}

/**
 * Cards ratios/Border radius
 */
.b-r-15-5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 15px;
}

.b-r-20-5 {
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 20px;
}

.b-r-10 {
  border-radius: 10px;
}

.b-r-15 {
  border-radius: 15px;
}

.b-r-top-30 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* Basic Comment */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  mix-blend-mode: multiply;
  z-index: 1;
}

.cta-primary, .cta-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 32px;
  border: 0;
  border-radius: 50px;
  width: 100%;
  max-height: 48px;
  cursor: pointer;
  text-transform: uppercase;
}
.cta-primary {
  background: #524DC1;
  color: #FFFFFF;
}
.cta-primary:hover, .cta-primary.active {
  background: #1F038F;
}
.cta-primary:disabled, .cta-primary[disabled] {
  background: #898989;
  opacity: 0.5;
}
.cta-secondary {
  background: #FFFFFF;
  border: 1px solid #524DC1;
  color: #524DC1;
}
.cta-secondary:hover, .cta-secondary:focus, .cta-secondary.active {
  border: 1px solid #1F038F;
  color: #1F038F;
}
.cta-secondary:disabled, .cta-secondary[disabled] {
  border: 1px solid #898989;
  color: #898989;
  opacity: 0.5;
}

.cta-tertiary {
  color: #1F038F;
  display: inline;
  text-transform: uppercase;
}
.cta-tertiary:disabled, .cta-tertiary[disabled] {
  color: #898989;
  opacity: 0.5;
}

/* ==========================================================================
   Inputs/Errors
   ========================================================================== */
.ng-invalid.ng-dirty {
  border-bottom-color: #ED726A;
}

.error-text-container {
  position: relative;
  width: 100%;
}

.error-text {
  position: absolute;
  left: 0;
  bottom: 22px;
  color: #ED726A;
}
.error-text.general-error-text {
  position: unset;
}

.input-container {
  position: relative;
}

.input-form span:first-child {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.input-form:not(.input-toggle) {
  padding-bottom: 12px;
}
.input-form label {
  width: 100%;
}
.input-form input,
.input-form select {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

/* Search */
.input-search .input-search-container.inactive-input {
  position: relative;
}
.input-search .input-search-container.inactive-input:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 17px;
  height: 18px;
  background-image: url(../assets/icons/search.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.input-search .input-search-container.inactive-input input {
  padding-left: 32px;
}
.input-search .input-search-container .search-dropdown {
  position: absolute;
  top: -49px;
  width: 100%;
  margin: 0;
  padding: 15px;
  list-style: none;
  border-top: 1px solid #1F038F;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(82, 77, 193, 0.25), 0px 3px 15px rgba(82, 77, 193, 0.19);
  border-radius: 4px;
  max-height: 210px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.input-search .input-search-container .search-dropdown::-webkit-scrollbar {
  width: 5px;
}
.input-search .input-search-container .search-dropdown::-webkit-scrollbar-track {
  background: #F4F3FF;
}
.input-search .input-search-container .search-dropdown::-webkit-scrollbar-thumb {
  background: #DBDAFF;
  border-radius: 10px;
}
.input-search .input-search-container .search-dropdown::-webkit-scrollbar-thumb:hover {
  background: #cdccef;
}
.input-search .input-search-container .search-dropdown li {
  cursor: pointer;
  text-transform: capitalize;
}
.input-search .input-search-container .search-dropdown li:hover {
  background-color: #F4F3FF;
}
.input-search .input-search-container .search-dropdown-container {
  position: relative;
  z-index: 2;
}

/* Text */
/* Checkbox */
.input-toggle input {
  display: none;
}
.input-toggle input:checked + .toggle-btn::before {
  right: 0;
  background: #6AD7A0;
}
.input-toggle label {
  cursor: pointer;
}
.input-toggle .toggle-btn {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background: #000000;
  border-radius: 40px;
}
.input-toggle .toggle-btn::before {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
}

/* Selection */
.select-dropdown .select-container {
  position: relative;
}
.select-dropdown .select-container:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 9px;
  right: 0;
  top: 5px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE3IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNS4zODY3IDFMOC40MjM1NSA3Ljk2MzE3TDEuNDYwMzggMSIgc3Ryb2tlPSIjODk4OTg5IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.select-dropdown select {
  cursor: pointer;
  font-family: robotoregular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.select-dropdown select option[value=""] {
  color: #898989;
}

/* ==========================================================================
   Edit/Create Form
   ========================================================================== */
.container.container-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 72.5px;
}
.container.container-form h1 {
  margin-bottom: 0;
}
.container.container-form .row.head {
  margin-top: 46px;
  margin-bottom: 54px;
}
@media (min-width: 992px) {
  .container.container-form .row.head button {
    width: 36px;
    height: 36px;
  }
}
.container.container-form .row.head [class*=col-12] {
  margin-top: 54px;
}
@media (min-width: 992px) {
  .container.container-form .row label,
  .container.container-form .row .input-file {
    max-width: 339px;
  }
}
.container.container-form .input-toggle {
  margin-bottom: 48px;
}
.container.container-form .input-toggle label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.container-form .input-toggle label .eyebrow-input {
  padding-bottom: 0;
  max-width: 150px;
}
.container.container-form .input-file .eyebrow-input {
  margin-bottom: 22px;
}
.container.container-form .select-picker .textlink-2 {
  text-transform: uppercase;
  color: #1F038F;
  padding-bottom: 0.5px;
  border-bottom: 1px solid #DBDAFF;
  padding: 0;
}
.container.container-form .select-picker a {
  text-decoration: none;
  cursor: pointer;
}
.container.container-form .select-picker label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container.container-form .select-picker label .eyebrow-input {
  padding-bottom: 0;
}
.container.container-form .select-picker .result {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.container.container-form .cta-container {
  display: flex;
  margin-top: 26px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .container.container-form .cta-container {
    flex-direction: row;
    margin-top: 6px;
  }
}
.container.container-form .cta-container button {
  max-width: 310px;
}
.container.container-form .cta-container button:first-child {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .container.container-form .cta-container button:first-child {
    margin-bottom: 0;
    margin-right: 40px;
  }
}
.container.container-form .error-text {
  bottom: 37px;
}

:host .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
:host .container.general-error {
  padding-top: 43px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  :host .container.general-error {
    padding-top: 54px;
    padding-bottom: 55px;
  }
}
:host .container .row.head .warning-icon {
  margin: 44px 0 21px;
}
@media (min-width: 992px) {
  :host .container .row.head .warning-icon {
    margin: 44px 0 32px;
  }
}
:host .container .row.head .warning-icon svg {
  width: 31.5px;
}
@media (min-width: 768px) {
  :host .container .row.head .warning-icon svg {
    width: 48px;
    height: 48px;
  }
}
:host .container .row.action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 767.98px) {
  :host .container .row.action [class*=col-12]:last-of-type {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  :host .container .row.action [class*=col-12]:last-of-type {
    margin-top: 101px;
  }
}
@media (min-width: 992px) {
  :host .container .row.action [class*=col-12]:last-of-type {
    margin-top: 48px;
  }
}
:host .container .row.action .headline-3 {
  margin-bottom: 15px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  :host .container .row.action .headline-3 {
    font-family: spacegroteskMedium;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }
}
@media (min-width: 992px) {
  :host .container .row.action .headline-3 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.01em;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  :host .container .row.action p {
    max-width: 401px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  :host .container .row.action img {
    max-width: 449px;
    margin: 0 auto;
    display: flex;
  }
}
:host .container .row.action button {
  max-width: 310px;
}
@media (max-width: 767.98px) {
  :host .container .row.action button.cta-secondary {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  :host .container .row.action button:last-of-type {
    margin-left: 40px;
  }
}
:host .error-profile {
  width: 100%;
}